@font-face {
  font-family: 'meslo';
  src: url('meslolgsdz-regular.eot');
  src: url('meslolgsdz-regular.eot?#iefix') format('embedded-opentype'),
    url('meslolgsdz-regular.svg#meslo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'meslo';
  src: url('meslolgsdz-italic.eot');
  src: url('meslolgsdz-italic.eot?#iefix') format('embedded-opentype'),
    url('meslolgsdz-italic.svg#meslo') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'meslo';
  src: url('meslolgsdz-bold.eot');
  src: url('meslolgsdz-bold.eot?#iefix') format('embedded-opentype'),
    url('meslolgsdz-bold.svg#meslo') format('svg');
  font-weight: bold;
  font-style: normal;
}
